{
  "ConnectionStrings": {
    "MySql": "<CONNECTION_STRING>"
  },
  "Elasticsearch": {
    "Username": "<ELASTIC_USERNAME>",
    "Password": "<ELASTIC_PASSWORD>",
    "Endpoint": "<ELASTIC_ENDPOINT>",
    "Fingerprint": "<ELASTIC_NODE_FINGERPRINT>"
  },
  "JWT": {
    "ValidAudience": "<AUDIENCE>",
    "ValidIssuer": "<ISSUER>",
    "Secret": "<JWT SECRET>"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.Hosting.Lifetime": "Information",
      "Microsoft.EntityFrameworkCore.Infrastructure": "Warning",
      "Microsoft.EntityFrameworkCore.Database.Command": "Warning"
    }
  }
}